<!DOCTYPE html>
<html>
<head>
	<title>My website</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 	<link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>