<% include partials/header%>

<div class="jumbotron">
<h1>Generate a youtube playlist from a list of video URLs</h1>
</div>
<div class="container">
    
<form action="/generateURL" method="POST">
  <div class="form-group">
    <label for="inputText">One URL per line or separated by comma</label>
    <textarea name="urlList" rows="5" class="form-control" id="inputText" placeholder="Enter URLs"> </textarea>
  </div>
     <button type="submit" class="btn btn-info">Submit</button>
</form>
    
    
    
    
   
    

</div>

<% include partials/footer%>